.about
  table.about-small
    tr
      td.menu
        .menu-button
          img(src='style/assets/css/menu-button.png#{rev}')
      td.subtitle.small.visible-xs ré­su­mé
      td.subtitle.hidden-xs ré­su­mé
      td.name Konstantin Denerz
      td.slogan.hidden-xs I'm a passionate software {{hacker}}
      td
        .portrait.hidden-xs
          img(src='style/assets/css/portrait.png#{rev}')
        .portrait.visible-xs(data-tooltip='light', data-tooltip-align='bottom')
          img(src='style/assets/css/portrait.png#{rev}')
          .tooltip-content I'm a passionate software {{hacker}}
  .background
    .image.default
    .image.blurred
    .image.default-2
    .image.blurred-2
    .clearfix
  table.about-big.content.col-xs-12
    tr
      td.subtitle ré­su­mé
    tr
      td.name
        p.firstname Konstantin
        p.lastname Denerz
    tr
      td.portrait
        .photo
          img(src='style/assets/css/portrait.png#{rev}')
    tr
      td.slogan
        .menu-button
          img(src='style/assets/css/menu-button.png#{rev}')
        span I'm a passionate software {{hacker}}
