.connect
  .title-container
    h3.hidden Connect
  .links.content.col-xs-12.col-sm-8
    .col-xs-3.col-sm-3.col-md-3
      img.links-start(src='style/assets/css/links-start.png#{rev}')
    .col-xs-4.col-sm-6.col-md-6
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='mailto:konstantin.denerz+cv@gmail.com', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-email.png#{rev}')
          .tooltip-content
            .align-center
              span Write me an&nbsp;
              strong email
              .email konstantin.denerz+cv@gmail.com
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='https://github.com/konstantindenerz/', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-github.png#{rev}')
          .tooltip-content Link to my&nbsp;
            strong GitHub&nbsp;
            span profile
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='https://www.xing.com/profile/Konstantin_Denerz', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-xing.png#{rev}')
          .tooltip-content Link to my&nbsp;
            strong Xing&nbsp;
            span profile
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='https://twitter.com/kdenerz', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-twitter.png#{rev}')
          .tooltip-content Link to my&nbsp;
            strong Twitter&nbsp;
            span profile
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='http://500px.com/konstantindenerz', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-500px.png#{rev}')
          .tooltip-content Link to my&nbsp;
            strong photos
      .icon.col-xs-8.col-sm-6.col-md-4
        a(href='https://github.com/konstantindenerz/cv.konstantin.denerz.com', target='_blank',data-tooltip='light')
          img(src='style/assets/css/icon-sourcecode.png#{rev}')
          .tooltip-content Link to the&nbsp;
            strong source code&nbsp;
            span of my CV
      .icon-space.col-xs-8.visible-xs
    .col-xs-2.col-sm-3.col-md-3
      img.links-end(src='style/assets/css/links-end.png#{rev}')
  .clearfix
