.sidebar.visible
  .inner-container
    .menu-button
      img(src='style/assets/css/menu-button.png#{rev}')
    .default.view
      .title Navigation
      table.navigation
        tr.item
          td
            a(href='#about') About
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#timeline') Timeline
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#common') Common
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#roles') Roles
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#skills') Skills
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#feeds') Feeds
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#thingsilove') Things I
              span.heart &hearts;
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='#connect') Connect
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
        tr.item
          td
            a(href='impressum.html') Impressum
          td
            img(src='style/assets/css/nav-arrow-right.png#{rev}')
    .skills-explanation.view
      .title Skills - Graph - Help
      .description
        span This graph should be used to visualize the usage of languages, technologies and tools in selected projects
        p You can
        ul
          li
            strong drag and drop&nbsp;
            span the nodes
          li
            strong hover over the labels&nbsp;
            span on the left side to visualize the usage in projects
          li
            strong click on the tab&nbsp;
            span to switch the context (language, technology, tool)
        .separator
        .legend
          .item
            .icon
              img(src='style/assets/css/me-light.png#{rev}')
            .description
              span That's&nbsp;
              mark me
          .item
            .icon.circle.project
              img(src='style/assets/css/p4.png#{rev}')
            .description
              span This is a &nbsp;
              mark project
          .item
            .icon.circle.project.short
              img(src='style/assets/css/p4.png#{rev}')
            .description
              span A project with a&nbsp;
              mark short&nbsp;
              span duration
          .item
            .icon.circle.project.long
              img(src='style/assets/css/p4.png#{rev}')
            .description
              span A project with a&nbsp;
              mark long&nbsp;
              span duration
          .item
            .icon.circle
              img(src='style/assets/css/language.png#{rev}')
            .description
              span A project associated&nbsp;
              mark language
          .item
            .icon.circle
              img(src='style/assets/css/technology.png#{rev}')
            .description
              span A project associated&nbsp;
              mark technology
          .item
            .icon.circle
              img(src='style/assets/css/tool.png#{rev}')
            .description
              span A project associated&nbsp;
              mark tool
        .clearfix
